<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div>
        <table>
            <tbody>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <img src="C:/Users/azarael.romero/PycharmProjects/settlement/img/logo.png" height="125" width="125">
                </td>
                <td>
                    <table class="table table-sm table-borderless">

                        <tbody>
                        <tr>
                            <td>
                                Municipio de San Pedro Tlaquepaque
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Administraci&oacute;n 2015 - 2018
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Concepto del pago</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Pago de las partes proporcionales correspondientes por t&eacute;rmino de administraci&oacute;n.</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div>
        <span>Bueno por: </span> <strong>{{ "{:10,.2f}".format(cantidad) }}</strong>
        <span>&nbsp;({{ cantidad_letra }} {{centavos}}/100 M.N.)</span>
    </div>
    <div class="">
        <table class="table table-sm table-borderless">
            <tbody>
            <tr>
                <td><strong>N&uacute;mero empleado:</strong></td>
                <td>{{n_empleado}}</td>
                <td><strong>Fecha de ingreso:</strong></td>
                <td>{{fecha_antiguedad}}</td>
            </tr>
            <tr>
                <td><strong>Empleado:</strong></td>
                <td>{{nombre}}</td>
                <td><strong>Fecha de baja:</strong></td>
                <td>{{fecha_baja}}</td>
            </tr>
            <tr>
                <td><strong>Puesto:</strong></td>
                <td>{{puesto}}</td>
                <td><strong>Motivo de baja:</strong></td>
                <td>{{ baja }}</td>
            </tr>
            <tr>
                <td><strong>Adscripci&oacute;n:</strong></td>
                <td>{{ departamento.title() }}</td>
            </tr>
            <tr>
                <td><strong>R.F.C:</strong></td>
                <td>{{ rfc }}</td>
            </tr>
            <tr>
                <td><strong>CURP:</strong></td>
                <td>{{ curp.strip() }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h5>Por los siguientes conceptos:</h5>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Percepciones</th>
                            <th style="text-align: right">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if sueldo > 0%}
                        <tr>
                            <td>Sueldo</td>
                            <td align="right">{{ "{:10,.2f}".format(sueldo) }}</td>
                        </tr>
                        {% endif%}

                        {% if complemento > 0%}
                        <tr>
                            <td>Complemento</td>
                            <td align="right">{{ "{:10,.2f}".format(complemento) }}</td>
                        </tr>
                        {% endif%}

                        {% if despensa > 0 %}
                        <tr>
                            <td>Vales de despensa (monedero electr&oacute;nico)</td>
                            <td align="right">{{ "{:10,.2f}".format(despensa) }}</td>
                        </tr>
                        {% endif %}

                        {% if transporte > 0%}
                        <tr>
                            <td>Ayuda de Transporte</td>
                            <td align="right">{{ "{:10,.2f}".format(transporte) }}</td>
                        </tr>
                        {% endif %}

                        {% if aguinaldo > 0%}
                        <tr>
                            <td>Aguinaldo</td>
                            <td align="right">{{ "{:10,.2f}".format(aguinaldo) }}</td>
                        </tr>
                        {% endif %}

                        {% if prima_vacacional > 0 %}
                        <tr>
                            <td>Prima vacacional</td>
                            <td align="right">{{ "{:10,.2f}".format(prima_vacacional) }}</td>
                        </tr>
                        {% endif %}

                        {% if vacaciones_2017 > 0 %}
                        <tr>
                            <td>Vacaciones 2017</td>
                            <td align="right">{{ "{:10,.2f}".format(vacaciones_2017) }}</td>
                        </tr>
                        {% endif %}

                        {% if vacaciones_2018 > 0 %}
                        <tr>
                            <td>Vacaciones 2018</td>
                            <td align="right">{{ "{:10,.2f}".format(vacaciones_2018) }}</td>
                        </tr>
                        {% endif %}

                        {% if dia_servidor > 0%}
                        <tr>
                            <td>D&#237;a servidor p&#250;blico</td>
                            <td align="right">{{ "{:10,.2f}".format(dia_servidor) }}</td>
                        </tr>
                        {% endif %}

                        {% if subsidio_aguinaldo > 0 %}
                        <tr>
                            <td>Subsidio municipal aguinaldo</td>
                            <td align="right">{{ "{:10,.2f}".format(subsidio_aguinaldo) }}</td>
                        </tr>
                        {% endif %}

                        {% if subsidio_dia_servidor > 0%}
                        <tr>
                            <td>Subsidio municipal servidor p&uacute;blico</td>
                            <td align="right">{{ "{:10,.2f}".format(subsidio_dia_servidor) }}</td>
                        </tr>
                        {% endif %}

                        {% if subsidio_prima_vacacional > 0 %}
                        <tr>
                            <td>Subsidio prima vacacional</td>
                            <td align="right">{{ "{:10,.2f}".format(subsidio_prima_vacacional) }}</td>
                        </tr>
                        {% endif %}

                        {% if total_percepciones > 0%}
                        <tr>
                            <td><strong>TOTAL PERCEPCIONES</strong></td>
                            <td align="right">{{ "{:10,.2f}".format(total_percepciones) }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Deducciones</th>
                            <th style="text-align: right">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if isr_sueldo > 0 %}
                        <tr>
                            <td>I.S.R. Sueldo</td>
                            <td align="right">{{ "{:10,.2f}".format(isr_sueldo) }}</td>
                        </tr>
                        {% endif %}

                        {% if isr_aguinaldo > 0 %}
                        <tr>
                            <td>I.S.R. Aguinaldo</td>
                            <td align="right">{{ "{:10,.2f}".format(isr_aguinaldo) }}</td>
                        </tr>
                        {% endif %}

                        {% if isr_prima_vacacional > 0 %}
                        <tr>
                            <td>I.S.R. Prima vacacional</td>
                            <td align="right">{{ "{:10,.2f}".format(isr_prima_vacacional) }}</td>
                        </tr>
                        {% endif %}

                        {% if isr_dia_servidor > 0 %}
                        <tr>
                            <td>I.S.R. D&iacute;a del bur&oacute;crata</td>
                            <td align="right">{{ "{:10,.2f}".format(isr_dia_servidor) }}</td>
                        </tr>
                        {% endif %}

                        {% for p in pension_deductions %}
                        <tr>
                            <td>{{ p[' DESCRIPCION'] }}</td>
                            <td align="right">{{ "{:10,.2f}".format(p[' IMPORTE']) }}</td>
                        </tr>
                        {% endfor %}

                        {% for deduction in nomina_deductions %}
                        <tr>
                            <td>{{ deduction }}</td>
                            <td align="right">{{ "{:10,.2f}".format(nomina_deductions[deduction]) }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><strong>TOTAL DEDUCCIONES</strong></td>
                            <td align="right">{{ "{:10,.2f}".format(total_deducciones) }}</td>
                        </tr>
                        <tr>
                            <td><strong>NETO A RECIBIR</strong></td>
                            <td align="right">{{ "{:10,.2f}".format(neto_recibir) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <br>
    <div class="container">
        <table class="table table-borderless table-sm">
            <tbody>
            <tr>
                <td align="center">__________________________________________<br>Nombre y firma</td>
                <td align="center">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><strong>RECIBI FINIQUITO DE CONFORMIDAD</strong></p>
                </td>
                <td align="center">
                    <p><strong>FECHA DE RECIBIDO</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <td><br><br></td>
            </tr>
            <tr>
                <td colspan="2" align="center">_____________________________________</td>
            </tr>
            <tr>
                <td colspan="2" align="center">Autoriza</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <strong>Coordinador general de Administraci&oacute;n e Innovaci&oacute;n Gubernamental.<br>Lic.
                        Israel Ram&iacute;rez Camacho</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="container">
        <p align="justify">
            <strong>
                Recibo de conformidad el Finiquito que se desglosa con antelaci&#243;n, en raz&#243;n de la terminaci&#243;n voluntaria de la relaci&#243;n laboral entre el suscrito y el Municipio de San Pedro Tlaquepaque, Jalisco, en t&#233;rminos de lo dispuesto por la fracci&#243;n I, del articulo 53 de la Ley Federal de Trabajo y por la fracci&oacute;n III art&iacute;culo 22 de la ley para los servidores p&uacute;blicos del estado de Jalisco y sus municipios, no existiendo vicios del consentimiento que afecten este acuerdo de voluntades, as&#237; mismo manifiesto que a la fecha no se me adeuda prestacion laboral alguna por parte de este Municipio y que el trato hacia mi persona el tiempo que me desempe&#241;e en esta instituci&#243;n fue siempre de respeto mutuo.
            </strong>
        </p>
    </div>
</div>
</body>
<footer>
    <div class="container">
    </div>
</footer>
</html>